  <div id="accordion2" class="accordion">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
          Collapsible Group Item #1
        </a>
        </div>
        <div style="height: auto; " class="accordion-body in collapse" id="collapseOne">
          <div class="accordion-inner">
            <h3>Bootstrap theme</h3>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
          Collapsible Group Item #2
          </a>
		</div>  
        <div style="height: 0px; " class="accordion-body collapse" id="collapseTwo">
          <div class="accordion-inner">
			<h3>Select2 theme</h3>
		  </div>
        </div>
      </div>
    </div>