<div class="row" ng-hide="(flatAssetDeviceTable.length == 0)">
     <div class="col-sm-6">
		<Label>Asset ID: </Label><strong>{{assetdevice.selected._id}} &nbsp; &nbsp; <Label>Asset Type: </Label> {{assetdevice.selected.assettype}}</strong>
	 </div>
	<div class="col-sm-4">
	   <div></div>		
    </div>
    <div class="col-sm-2" ng-hide="(flatAssetDeviceTable.length == 0)">
		<button class="btn btn-danger" ng-click="deleteIotAssetMapping(assetdevice.selected._id)">
			<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;UnMap
		</button>
    </div>	
</div>
<div class="row" ng-style="{'margin-top':'10px', 'background-color':'Snow'}">
    <div class="col-sm-12" ng-hide="(flatAssetDeviceTable.length == 0)">
	 <div><h3>Mapped Devices:</h3></div>		
    </div>
	<div class="col-sm-12" id="mappedDevices" class="accordion" ng-hide="(flatAssetDeviceTable.length == 0)">	
		<br/>
		<div id="mappedDevice{{mappedDevice.deviceId}}" class="accordion-group" 
			 ng-repeat="mappedDevice in flatAssetDeviceTable track by $index" >
			<div class="accordion-heading">
				<a href="#{{mappedDevice.deviceId}}" onclick="closeOthers()" data-parent="#mappedDevices" 
				   data-toggle="collapse" class="accordion-toggle">
				   <h4> Device Id : {{ mappedDevice.deviceId }},  Device Type : {{ mappedDevice.deviceType }} </h4>
				</a>
			</div>
			<div style="height: auto; " class="accordion-body collapse" id="{{mappedDevice.deviceId}}">
				<div class="accordion-inner">		
					<div class="table-responsive">
					<table class="table table-striped table-hover">		
						<thead>
						<tr>
							<th>Rule Name</th>
							<th>Rule URL</th>	
							<th>Triggered Actions</th>
						</tr>      
						</thead>
						<body>
						<tr ng-repeat="rule in mappedDevice.rules track by $index">
							<td>
								{{ rule.ruleName }}
							</td>
							<td>
								{{ rule.ruleurl }}
							</td>		  
							<td>							
							<button class="btn btn-primary"  id='btnViewTriggeredRules' ng-click="selectedDeviceForTriggeredActions(mappedDevice)">
								<span class="glyphicon ">View</span>
							</button>
							</td>
						</tr>
						</body>
					</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-show="showNoMappingMsg">
<h3 class="text-danger">No device mapping exists for this asset. Please create new mapping</h3>

<br/>
<br/>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
        <button class="btn btn-primary"  id='btnNewDeviceMapping' ng-click="changeTab('newdevicemappings')">
			<span class="glyphicon ">Add Device Mappings</span>
	    </button>
    </div>
    <div class="col-sm-6"></div>	
</div>	
</div>


